.todos_single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  align-items: center;
  background-color: #f5df30;
}
.todos_single_text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todos_single_text:focus {
  outline: none;
}
.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
